{{> default/message}}
<div class="card card-login mx-auto m-5" style="margin-top: 100px !important;">
    <div class="card-header">Login</div>

    <div class="card-body">
        <form action="/login" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" class="form-control" type="email"  placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" class="form-control"  type="password" placeholder="Password">
            </div>
            <!--<div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember Password</label>
                </div>
            </div>-->
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/register">Register an Account</a>
            <!--<a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
            <a class="d-block small" href="/">Home Page?</a>
        </div>
    </div>
</div>