<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post_details.title}}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">Admin</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{post_details.creationDate}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{post_details.file}}" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{post_details.description}}</p>


        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form action="/post-details/{{post_details._id}}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment_body" name="comment_body"></textarea>
                    <input type="hidden" name="id" value="{{post_details._id}}">
                    </div>
                    <button type="submit" class="btn btn-primary" >Submit</button><!--id="comment-btn"-->
                </form>
            </div>
        </div>
        <!-- Single Comment -->
        {{#if post_details.comments}}
            {{#if commentIsApproved}}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        {{post_details.comments}}
                    </div>
                </div>
            {{/if}}
        {{/if}}



    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">

                        {{#each category}}
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">{{title}}</a>
                                    </li>
                                </ul>
                            </div>
                        {{/each}}
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>

    </div>

</div>
<!-- /.row -->