<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" ></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
{{> default/scripts}}
<script>
    /*$('document').ready(function () {
        alert("done");
    })*/
</script>
</body>
</html>