<div class="container">
    <h3>Create New Category</h3>
    <div class="row p-4">
        <div class="col-md-10">
            <!--enctype="multipart/form-data"-->
            <form action="/admin/category" method="post" >
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="category-title" placeholder="Enter The Title">
                </div>
                <button class="btn btn-outline-success btn-sm" type="submit" id="category-submit-Btn" >Create Category</button>
            </form>
        </div>
    </div>
</div>
