<div class="container">
    <h3>Update Category # {{ category._id }}</h3>
    <div class="row p-4">
        <div class="col-md-10">
            <!--enctype="multipart/form-data"-->
<!--            <form action="/admin/category/edit" method="post" >-->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="hidden" class="form-control" name="id" id="category-update-id"
                           value="{{ category._id }}">
                    <input type="text" class="form-control" name="title" id="category-update-title"
                           value="{{ category.title }}">
                </div>
                <button class="btn btn-outline-success btn-sm" type="submit" id="category-update-Btn" >Update Category</button>
<!--            </form>-->
        </div>
    </div>
</div>
deleteCategory