<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>ALL Category</h1>
    </div>

    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">
            <th>Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{#each category}}
            <tr>
                <td>{{title}}</td>
                <td class="d-flex">
                    <a href="/admin/category/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit Category</a>
                    <!--<div>
                        <input type="hidden" name="id" id="delete-category-id" value="{{ _id }}"/>
                        <button class="btn btn-sm btn-danger" type="submit" id="delete-category-btn">Delete category</button>
                    </div>-->
                    <form action="/admin/category/delete/{{_id}}" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete Category</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
