<div class="container">
    <h3>Edit Post# {{ editedPost._id }}</h3>

    <div class="row p-4">
        <div class="col-md-10">
            <!--enctype="multipart/form-data"-->
            <form action="/admin/posts/update" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="hidden" class="form-control" name="id" id="id"
                           value="{{ editedPost._id }}">
                    <input type="text" class="form-control" name="title" id="title"
                           placeholder="Enter The Title" value="{{ editedPost.title }}">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">
                            <label for="file">File Upload</label>
                            <input type="file" class="form-control" id="file" name="uploadedFile"
                                   accept="image/jpeg, image/jpg, image/png, image/bmp">
                        </div>
                        <div class="col-4">
                            <img class="card-img-top" src="{{editedPost.file}}" alt="Card image cap" width="200px" height="150px">
                        </div>
                    </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                        <option value="draft">Draft</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="title">Category</label>
                            <input type="text" class="form-control" value="{{ editedPost.category.title }}" readonly>
                        </div>
                        <div class="col-8">
                            <label for="category">Category</label>
                            <select name="category" id="category" class="form-control">
                                {{#each category}}
                                    <option value="{{_id}}">{{title}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-check ml-3">
                    <label for="allowComments">
                        <input type="checkbox" class="form-check-input" id="allowComments" name="allowComments"
                               checked={{ editedPost.allowComments }}>
                        Allow Comments
                    </label>
                </div>
                <div class="form-group">
                    <label for="description">Content</label>
                    <textarea name="description" id="description" class="form-control" placeholder="Enter your content here"
                              rows="10">{{ editedPost.description }}</textarea>
                </div>
                <button class="btn btn-outline-primary btn-sm" type="submit">Update Post</button>
            </form>
        </div>
    </div>
</div>
